/**
 * Created by Gian Carlo on 30/05/2016.
 */
 
//Base SCSS file

//Base
@import "base/variables";
@import "base/normalize";
@import "base/site";
@import "base/text";
@import "base/animations";

//Layout
@import "layout/navbar";
@import "layout/header";
@import "layout/sidebar";
@import "layout/footer";

//Components
@import "components/buttons";
@import "components/list";
@import "components/checkbox";

//Vendor
body {
  font-size: 16px;
  padding-top: 80px;
}

.spinner {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 40px 0;
  p {
    margin-top: 20px;
  }
}